@{
    ViewBag.Title = "Nosotros";
}
<h2>@ViewBag.Title.</h2>



<!-- Services-->
<section class="page-section" id="services">
    <div class="container">
        <h2 class="text-center mt-0">Team Purete</h2>
        <hr class="divider my-3" />
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">

                    <img src="~/Source/Denis.jpg" width="250" height="300" />
                    <h3 class="h4 mb-2">Denis Gonzalez</h3>
                    <p class="text-muted mb-0">Estudiante de la carrera de ingeniera en informatica en la Universidad Autonoma de Asuncion y actualmente programador jr en la empresa EDYDSI </p>
                    <p class="text-muted mb-0"> Perfil de Github </p>
                    <a class="d-block" href="https://github.com/denisgonza21">denisgonza21 </a>
                    <p></p>
                    <p class="text-muted mb-0"> Correo </p>
                    <a class="d-block" href="mailto:denis.gonza21@gmail.com">denis.gonza21@gmail.com</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">

                    <img src="~/Source/Humberto.jpg" width="250" height="300" />
                    <h3 class="h4 mb-2">Humeberto Meza</h3>
                    <p class="text-muted mb-0">Estudiante de la carrera de ingeniera en informatica en la Universidad Autonoma de Asuncion y actualmente supervisor de proyectos de redes HFC y GPON en la empresa InterSat S.A.</p>
                    <p class="text-muted mb-0"> Perfil de Github </p>
                    <a class="d-block" href="https://github.com/Jaraadair">Jaraadair </a>
                    <p></p>
                    <p class="text-muted mb-0"> Correo </p>
                    <a class="d-block" href="mailto:jaraadair@gmail.com">jaraadair@gmail.com</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <img src="~/Source/Juan.jpeg" width="250" height="300" />
                    <h3 class="h4 mb-2">Juan Santander</h3>
                    <p class="text-muted mb-0">Estudiante de la carrera de ingeniera en informatica en la Universidad Autonoma de Asuncion y actualmente encargado de soporte técnico de equipos informáticos, cctv y alarmas en la empresa Retail SA</p>
                    <p class="text-muted mb-0"> Perfil de Github </p>
                    <a class="d-block" href="https://github.com/JuanSantander">JuanSantander </a>
                    <p></p>
                    <p class="text-muted mb-0"> Correo </p>
                    <a class="d-block" href="mailto:emilianobenitez1999@gmail.com">emilianobenitez1999@gmail.com</a>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <img src="~/Source/buhito.jpg" width="250" height="300" />
                    <h3 class="h4 mb-2">Epitiru del Buho</h3>
                    <p class="text-muted mb-0">Cuenta la leyenda que hay una pequeña posibilidad de aprobar c# avanzado y esta es la ultima esperanza para poder lograr la meta fijada</p>
                    <p class="text-muted mb-0"> Perfil de Github </p>
                    <a class="d-block" href="https://github.com">Buho </a>
                    <p></p>
                    <p class="text-muted mb-0"> Correo </p>
                    <a class="d-block" href="mailto:esperanza@gmail.com">esperanza@gmail.com</a>
                </div>
            </div>
        </div>
    </div>
</section>


