@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Biblioteca Buho Lector</h1>
    <p class="lead">Explora la felicidad de descubrir otros mundos atreves de los libros y para que pueda encontrarlos más rápido esta página te facilitara el trabajo. Con una amplia variedad de materiales, autores y temas </p>

   
</div>
<img src="~/Source/fondo7.jpg" width="700" height="400" />

